################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationWithEFCoreApp/.vs/DbOperationWithEFCoreApp
